<?xml version="1.0"?>
<robot name="wibotic_tc200" xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="wibotic_tc200" params="parent p_x:=0 p_y:=0 p_z:=0 o_r:=0 o_p:=0 o_y:=0">
    <link name="coil_frame"/>
    
    <joint name="tc200_joint1" type="fixed">
      <origin xyz="${p_x} ${p_y} ${p_z}" rpy="${o_r} ${o_p} ${o_y}"/>
      <parent link="${parent}"/>
      <child link="coil_frame"/>
    </joint>
    
    <joint name="tc200_joint2" type="fixed">
      <parent link="coil_frame"/>
      <child link="coil_link"/>
    </joint>
    
    <link name="coil_link">
      <collision name="collision">
        <geometry>
          <mesh filename="package://wibotic_models/meshes/TC200.dae"/>
        </geometry>
      </collision>
      <collision name="COIL_CENTER">
        <origin xyz="0.105 0.01 0.107" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.001"/>
        </geometry>
      </collision>
      <visual name="visual">
        <geometry>
          <mesh filename="package://wibotic_models/meshes/TC200.dae"/>
        </geometry>
      </visual>
      <!-- Dimensions: x=0.21, y=0.02, z=0.214 -->
      <inertial>
        <mass value="0.05"/>
        <origin xyz="0.105 -0.01 0.107"/>
        <inertia ixx="0.00001887" ixy="0.0" ixz="0.0"
                 iyy="0.00001887" iyz="0.0"
                 izz="0.00003713"/>
      </inertial>
    </link>
    <gazebo>
      <plugin name="tx_plugin" filename="libwibotic_coil_plugin.so">
        <coilType>transmit</coilType>
      </plugin>
    </gazebo>
    <wibotic_sim_tc200/>
  </xacro:macro>
</robot>