<launch>
  <arg name="device" value="oc250"/>
  
  <arg name="name"/>
  
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  
  <arg name="static" default="false"/>

  <param
    name="$(arg name)_description"
    command="$(find xacro)/xacro --inorder '$(find wibotic_models)/robots/$(arg device).urdf.xacro' static:=$(arg static)"
  />
  
  <node
    name="spawn_$(arg name)" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -param $(arg name)_description -model $(arg name)
          -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"
  />
</launch>